ul.list {
  li.ng-enter {
    transition:0.5s cubic-bezier(.45,.04,.82,.52) all;
    height:0;
  }

  /* The finishing CSS styles for the enter animation */
  li.ng-enter-active {
    height: 50px;
  }
}

ul.list {
  li {
    display: block;
    width: 50%;
    height: 50px;
    background: linear-gradient(teal, gold);
  }
}